@using BlazorSplit.Shared.Header
@using BlazorSplit.Shared.Main
@using BlazorSplit.Shared.Footer

<div class="min-h-screen bg-gray-100">
    <PreviewHeader />
    <PreviewMain />
    <PreviewFooter />
</div>