<span class="sr-only">Split.js</span>
<div class="flex" style="height: 60px; width: 177px;">
    <h1 style="font-size: 2rem; font-weight: bold; display: flex; align-items: center; color: rgba(224, 231, 255)">
        Blazor Split
    </h1>
</div>