<div class="py-5 flex items-center justify-between">
    <div class="static">
        <Logo/>
    </div>
    <div class="ml-4 flex lg:items-center lg:pr-0.5 space-x-4">
        <GithubLink/>
    </div>
</div>