<div class="border-t border-white border-opacity-20 py-5">
    <div class="grid grid-cols-3 gap-8 items-center">
        <div class="col-span-2">
            <nav class="flex space-x-4">
                <a class="cursor-pointer text-sm font-medium rounded-md bg-white px-3 py-2 hover:bg-opacity-10 text-white bg-opacity-10" 
                   aria-current="page" 
                   href="#/"
                >
                    Split
                </a>
                <a class="text-sm font-medium rounded-md bg-white px-3 py-2 text-indigo-100 bg-opacity-0"
                   aria-current="page"
                   style="opacity: .5; cursor: default;"
                   title="Not supported yet"
                >
                    Split-Grid
                </a>
            </nav>
        </div>
        <div>
            <div class="max-w-md w-full mx-auto"></div>
        </div>
    </div>
</div>