<footer>
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
        <div class="border-t border-gray-200 py-8 text-sm text-gray-500 text-center sm:text-left">
            <div>
                <span class="block sm:inline">SplitJS - Copyright © 2022 <a href="https://nathancahill.com/">Nathan Cahill</a></span>
            </div>
            <div style="margin-top: 10px;">
                <span class="block sm:inline">BlazorSplit - Copyright © 2022 <a href="https://smfields.net/">Sam Fields</a></span>
            </div>
        </div>
    </div>
</footer>