@using BlazorSplit.OptionTypes
<section aria-labelledby="section-2-title">
    <h2 class="sr-only" id="section-1-title">Generated Code</h2>
    <div class="rounded-lg bg-white overflow-hidden shadow p-4 markdown">
        <GeneratedRazor Configuration="Configuration"/>
        <GeneratedCSS Configuration="Configuration" />
    </div>
</section>

@code {
    
    [Parameter]
    public PreviewConfiguration Configuration { get; set; }

}